<header>
  <div class="container">
   <img src='assets/FrancisGamble.png' id='logozHeader'>

	 <div class="moneyContainer">
	 <h2 class="balance">Balance: <%= @current_user.balance %></h2>
	 <%= link_to "Get tokens =>", tokens_path, class: "tokens-route" %>
	 </div>
  </div>

	<link rel="stylesheet" href="header.scss">
</header>