<header>
  <div class="container">
   <img src='assets/FrancisGamble.png' id='logozHeader'>

	 <div class="moneyContainer">
		<h2>Wallet: 0</h2>
	 <%= link_to "Purchase", new_token_purchase_path %>
	 </div>
  </div>
</header>