<header>
  <div class="container">
   <img src='assets/FrancisGamble.png' id='logozHeader'>

	 <div class="moneyContainer">
		<h2>Your balance: %></h2>
	 <%= link_to "Get tokens", tokens_path %>
	 </div>
  </div>
</header>