<header>
  <div class="container">
		<a href="/games">
		<img src="<%= asset_path('FrancisGamble.png') %>" alt="Francis Gamble" id="logozHeader">
</a>

	 <div class="moneyContainer">
	 <h2 class="balance">Balance: <%= @current_user.balance %></h2>
	 <%= link_to "Get tokens =>", tokens_path, class: "tokens-route" %>
	 </div>
  </div>

<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</header>