<form action="/register" method="post" class="row g-3">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <div class="col-md-6">
    <label for="user_email" class="form-label">Email:</label>
    <input type="email" name="users[email]" id="user_email" class="form-control">
  </div>

  <div class="col-md-6">
    <label for="user_password" class="form-label">Password:</label>
    <input type="password" name="users[password]" id="user_password" class="form-control">
  </div>

  <div class="col-md-6">
    <label for="user_password_confirmation" class="form-label">Password Confirmation:</label>
    <input type="password" name="users[password_confirmation]" id="user_password_confirmation" class="form-control">
  </div>

  <div class="col-12">
    <input type="submit" value="Register" class="btn btn-primary">
  </div>
</form>
