<!DOCTYPE html>
<html>
  <head>
    <title>Tic Tac Toe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
		<%= stylesheet_link_tag 'checkers', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag %>
  </head>

		<body>
			<h1>Checkers!</h1>
			<div class="checkers-board">
			<table>
            <tr>
                <td class="a" id="cell-a1"></td>
                <td class="b" id="cell-b1"></td>
                <td class="a" id="cell-c1"></td>
                <td class="b" id="cell-d1"></td>
                <td class="a" id="cell-e1"></td>
                <td class="b" id="cell-f1"></td>
                <td class="a" id="cell-g1"></td>
                <td class="b" id="cell-h1"></td>
            </tr>
            <tr>
                <td class="b" id="cell-a2"></td>
                <td class="a" id="cell-b2"></td>
                <td class="b" id="cell-c2"></td>
                <td class="a" id="cell-d2"></td>
                <td class="b" id="cell-e2"></td>
                <td class="a" id="cell-f2"></td>
                <td class="b" id="cell-g2"></td>
                <td class="a" id="cell-h2"></td>
            </tr>
            <tr>
                <td class="a" id="cell-a3"></td>
                <td class="b" id="cell-b3"></td>
                <td class="a" id="cell-c3"></td>
                <td class="b" id="cell-d3"></td>
                <td class="a" id="cell-e3"></td>
                <td class="b" id="cell-f3"></td>
                <td class="a" id="cell-g3"></td>
                <td class="b" id="cell-h3"></td>
            </tr>
            <tr>
                <td class="b" id="cell-a4"></td>
                <td class="a" id="cell-b4"></td>
                <td class="b" id="cell-c4"></td>
                <td class="a" id="cell-d4"></td>
                <td class="b" id="cell-e4"></td>
                <td class="a" id="cell-f4"></td>
                <td class="b" id="cell-g4"></td>
                <td class="a" id="cell-h4"></td>
            </tr>
            <tr>
                <td class="a" id="cell-a5"></td>
                <td class="b" id="cell-b5"></td>
                <td class="a" id="cell-c5"></td>
                <td class="b" id="cell-d5"></td>
                <td class="a" id="cell-e5"></td>
                <td class="b" id="cell-f5"></td>
                <td class="a" id="cell-g5"></td>
                <td class="b" id="cell-h5"></td>
            </tr>
            <tr>
                <td class="b" id="cell-a6"></td>
                <td class="a" id="cell-b6"></td>
                <td class="b" id="cell-c6"></td>
                <td class="a" id="cell-d6"></td>
                <td class="b" id="cell-e6"></td>
                <td class="a" id="cell-f6"></td>
                <td class="b" id="cell-g6"></td>
                <td class="a" id="cell-h6"></td>
            </tr>
            <tr>
                <td class="a" id="cell-a7"></td>
                <td class="b" id="cell-b7"></td>
                <td class="a" id="cell-c7"></td>
                <td class="b" id="cell-d7"></td>
                <td class="a" id="cell-e7"></td>
                <td class="b" id="cell-f7"></td>
                <td class="a" id="cell-g7"></td>
                <td class="b" id="cell-h7"></td>
            </tr>
            <tr>
                <td class="b" id="cell-a8"></td>
                <td class="a" id="cell-b8"></td>
                <td class="b" id="cell-c8"></td>
                <td class="a" id="cell-d8"></td>
                <td class="b" id="cell-e8"></td>
                <td class="a" id="cell-f8"></td>
                <td class="b" id="cell-g8"></td>
                <td class="a" id="cell-h8"></td>
            </tr>
      </table>
		</div>
		</body>
	</html>