<!DOCTYPE html>
<html>
  <head>
    <title>Tic Tac Toe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
		<%= stylesheet_link_tag 'checkers', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag %>
  </head>

		<body>
			<h1>Checkers!</h1>
			<div class="checkers-board">
			<table>
    	<tr>
    <td class="a" id="cell-1"></td>
    <td class="b" id="cell-2"></td>
    <td class="a" id="cell-3"></td>
    <td class="b" id="cell-4"></td>
    <td class="a" id="cell-5"></td>
    <td class="b" id="cell-6"></td>
    <td class="a" id="cell-7"></td>
    <td class="b" id="cell-8"></td>
</tr>
<tr>
    <td class="b" id="cell-9"></td>
    <td class="a" id="cell-10"></td>
    <td class="b" id="cell-11"></td>
    <td class="a" id="cell-12"></td>
    <td class="b" id="cell-13"></td>
    <td class="a" id="cell-14"></td>
    <td class="b" id="cell-15"></td>
    <td class="a" id="cell-16"></td>
</tr>
<tr>
    <td class="a" id="cell-17"></td>
    <td class="b" id="cell-18"></td>
    <td class="a" id="cell-19"></td>
    <td class="b" id="cell-20"></td>
    <td class="a" id="cell-21"></td>
    <td class="b" id="cell-22"></td>
    <td class="a" id="cell-23"></td>
    <td class="b" id="cell-24"></td>
</tr>
<tr>
    <td class="b" id="cell-25"></td>
    <td class="a" id="cell-26"></td>
    <td class="b" id="cell-27"></td>
    <td class="a" id="cell-28"></td>
    <td class="b" id="cell-29"></td>
    <td class="a" id="cell-30"></td>
    <td class="b" id="cell-31"></td>
    <td class="a" id="cell-32"></td>
</tr>
<tr>
    <td class="a" id="cell-33"></td>
    <td class="b" id="cell-34"></td>
    <td class="a" id="cell-35"></td>
    <td class="b" id="cell-36"></td>
    <td class="a" id="cell-37"></td>
    <td class="b" id="cell-38"></td>
    <td class="a" id="cell-39"></td>
    <td class="b" id="cell-40"></td>
</tr>
<tr>
    <td class="b" id="cell-41"></td>
    <td class="a" id="cell-42"></td>
    <td class="b" id="cell-43"></td>
    <td class="a" id="cell-44"></td>
    <td class="b" id="cell-45"></td>
    <td class="a" id="cell-46"></td>
    <td class="b" id="cell-47"></td>
    <td class="a" id="cell-48"></td>
</tr>
<tr>
    <td class="a" id="cell-49"></td>
    <td class="b" id="cell-50"></td>
    <td class="a" id="cell-51"></td>
    <td class="b" id="cell-52"></td>
    <td class="a" id="cell-53"></td>
    <td class="b" id="cell-54"></td>
    <td class="a" id="cell-55"></td>
    <td class="b" id="cell-56"></td>
</tr>
<tr>
    <td class="b" id="cell-57"></td>
    <td class="a" id="cell-58"></td>
    <td class="b" id="cell-59"></td>
    <td class="a" id="cell-60"></td>
    <td class="b" id="cell-61"></td>
    <td class="a" id="cell-62"></td>
    <td class="b" id="cell-63"></td>
    <td class="a" id="cell-64"></td>
</tr>

      </table>
		</div>
		</body>
	</html>