<body>
  <%= render 'partials/header' %>
  <div class='gameContainer'>
    <%= link_to "Back", games_show_path %>
	 <h2>Tic-Tac-Toe!</h2>
   <div class='tictacA'>
  <%= link_to "Start a New Game", new_tictactoe_path, class: "btn btn-primary" %>
  </div>
  </div>
</body>