<%= render 'partials/header' %>
<h3>Play Tic-TacToe!</h3>
<%= link_to "Back", games_show_path %>
<%= link_to "Start a New Game", new_tictactoe_path, class: "btn btn-primary" %>
<ul>
<h3>Your Game History</h3>
  <% @games.each do |game| %>

    <li>

      <%= link_to "Game ##{game.id}", tictactoe_show_path(game) %>

    </li>

  <% end %>

</ul>
