/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html {
  background: linear-gradient(180deg, #B8DEF3 11.83%, #D8EEFA 92.33%);
  height: 100%;
 }

 .main_logo {
	text-align: center;
	font-size: 50px;
 }

 .buttonz {
	text-align: center;
	margin-bottom: 5%;
 }

 .authentication-buttons {
  display: flex;
  justify-content: center;
 }

 .authenticate-form {
  display: flex;
  justify-content: center;
  margin-top: 1em;
 }

 .authentication {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

 #loginForm,
 #registerForm {
  background-color: white;
  margin-bottom: 2em;
  width: 25vw;
  height: 20vh;
  padding: 1em; 
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
	border-radius: 8px;
	border: 2px solid #3568A8;
 }



#board {
  border-collapse: collapse;
}

#board td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

#board tr:first-child td {
  border-top: 2px solid #000;
}

#board tr:last-child td {
  border-bottom: 2px solid #000;
}

#board td:first-child {
  border-left: 2px solid #000;
}

#board td:last-child {
  border-right: 2px solid #000;
}

#registerBtn{
background-color: #B2404E;
cursor: pointer;
color: white;
width: 12vw;
font-size: 30px;
margin: 20px;
box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
border-radius: 8px;
}

#loginBtn{
background-color: #B2404E;
cursor: pointer;
color: white;
width: 10vw;
font-size: 30px;
margin: 20px;
box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
border-radius: 8px;
}

#logoz {
  animation: bounce 1s infinite ;
}

audio {
  display: none;
}

.buttonContainer {
  margin-top: 45px;
  display: block;
  text-align: center;
}

header {
  width: 100%;
}