h1 {
	font-size: 5rem;
	color: rgb(0, 0, 0);
	display: flex;
	justify-content: center;
	align-items: center;
}

.game-board {
	display: grid;
	grid-template-columns: repeat(8, 5em); 
	grid-template-rows: repeat(8, 5em);    
	border: 2px solid black;
	width: 55%;
	justify-content: center
}

.square.black-square {
	background-color: rgb(54, 52, 52);
}

.square.white-square {
	background-color: white;
}

.piece {
  width: 60%;
  height: 60%;
  border-radius: 50%;
	margin-left: 20%;
	margin-bottom: 20%
}

.red {
  background-color: red;
}

.black {
  background-color: rgb(3, 3, 3);
}

.king {
  background-color: gold
}