.games {
	width: 55vw;
	height: 50vh;
	background-color: #B2404E;
	border: 40px solid #99001F;
	border-radius: 8px;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 5em;
	margin-left: 22.5vw;
}

.tictactoe-route {
	// height: 10vh;
	// width: 10vw;
	text-decoration: none;
	background-image: url('/app/assets/images/tictactoe.png');
}