@font-face {
	font-family: 'balanceFont'; /* Choose a custom name */
	src: asset-url('Pokemon_Solid.ttf') format('truetype'); /* Path to your font file */
}

.container {
	display: flex;
	justify-content: space-between;
}

.container img {
	width: 12vw;
	height: 9.2vh;
	margin-left: 1.5em;
	margin-top: 1.5em;
}


.balance {
	width: 15vw;
	margin-right: 2em;
	color: #19385f;
	font-family: 'balanceFont';
	font-size: 20px;
	display: flex;
	justify-content: center;
	background-image: linear-gradient(-45deg, #ffbf00, #fff589, #ffbf00);
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
	border-radius: 8px;
	border: 2px solid #3568A8;
}

.tokens-route {
	width: 10vw;
	padding: 0.2em;
	color: #3568A8;
	text-decoration: none;
	background-color: white;
	border: 2px solid #3568A8;
	border-radius: 8px;
}

.cell {
	background-color: #B2404E;
}

p {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 16px;
	font-weight: 500;
	align-content: center;
}

.logout-link {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 16px;
	font-weight: 700;
	align-content: center;
	text-decoration: none;
	color:#3568A8;
}

.logout-link :hover {
	color: #19385f;
}