//optional pokemon font
@font-face {
	font-family: 'tokenFont'; //can rename variable
	src: asset-url('Pokemon_Hollow.ttf') format('truetype'); /* Path to font file */
}

html {
  background: linear-gradient(180deg, #B8DEF3 11.83%, #D8EEFA 92.33%);
	height: 100%;
 }

 body {
	margin: 0;
	min-height: 100%;
	background: none;
 }

*, *::after, *::before {
  box-sizing: border-box;
}

h1 {
	font-size: 5rem;
	color: pink;
	display: flex;
	justify-content: center;
	align-items: center;
}

.boardContainer{
	display: block;
  margin: 2% 30% 5% 30%;
  background-color: #99001F;
  padding: 10% 20% 20% 20%;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.338);
  border-radius: 8px;
}

:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * .9);
}

.board {
  height: 20%;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto)
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}

.cell.x,
.cell.circle {
  cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.cell.circle::before {
  background-color: black;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
  background-color: lightgrey;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
  content: '';
  position: absolute;
  width: calc(var(--mark-size) * .15);
  height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
  width: calc(var(--mark-size) * .7);
  height: calc(var(--mark-size) * .7);
  background-color: #B2404E;
}

.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
  flex-direction: column;
  background-image: url("https://img.freepik.com/premium-vector/financial-icon-set-seamless-background-backdrop-financial-website-economical-theme-ads-information-dollar-currency-money-signs-vector-wallpaper-web-site-background_570429-16170.jpg?w=1380");
	background-repeat: repeat;
	background-size: cover;
	animation: flowDown 30s infinite;
}

.winning-message button {
  font-size: 3rem;
  background-color: white;
  border: 1px solid black;
  padding: .25em .5em;
  cursor: pointer;
}

.winning-message button:hover {
  background-color: black;
  color: white;
  border-color: white;
}

.winning-message.show {
  display: flex;
}

.games-list.index {
  list-style: none;
  background-color: white;
}

.actions.new {
  display: flex;
  justify-content: space-evenly;
}

.subtract-balance-button {
  // margin-left: 6.5em; adjust
	// margin-top: 4em;
	background-image: linear-gradient(-45deg, #ffd700, #fff589, #ffd700);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
	border: none;
	// font-size: 16px; optional
	cursor: pointer;
	border-radius: 8px;
	// width: 20vw; adjust
	// height: 20vh;
}

.back {
  display: flex;
	justify-content: center;
	align-items: center;	
	background-color: darkblue;
	font-size: 1rem;
	font-family: 'tokenFont'; //rename if you renamed the variable
	text-decoration: none;
	color: white;
	// width: 10vw; adjust
	// height: 7vh;
	// margin-right: 2em;
	// margin-top: 1em;
	border-radius: 8px;
}

#winText{
color: black;
font-weight: 600;
text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}

#wonTokens{
	background-color: #296939;
	color: white;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
  padding: 10px;
}

.playAgain{
  font-size: 20px;
  padding: 20px;
  background-color: #3176b3;
  text-underline-offset: revert;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 8px;
  text-decoration: none;
}

.subtract-balance-button {

  display: inline-block;
  margin: 10% 10% 10% 10%;
  text-align: center;
  padding: 20px;
  color: #19385f;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 12px;
  animation: animate__flash 2s infinite;
}

h2 {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3 {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

#bets form {
  animation: animate__flash 2s infinite;
}

.actions button {
  animation: animate__flash 2s infinite;
}

.gameContainer a {
  text-decoration: none;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.gameContainer {
  background-color: #545084;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.338);
  border-radius: 8px;
	margin: 7%;
	padding: 5%;
}