@font-face {
	font-family: 'tokenFont';
	src: asset-url('Pokemon_Hollow.ttf') format('truetype'); /* Path to font file */
}

.token-body {
	position: relative;
}

.token-body::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url("https://img.freepik.com/premium-vector/financial-icon-set-seamless-background-backdrop-financial-website-economical-theme-ads-information-dollar-currency-money-signs-vector-wallpaper-web-site-background_570429-16170.jpg?w=1380");
	background-repeat: repeat;
	background-size: cover;
	animation: flowDown 30s infinite;
	opacity: 0.2;
	pointer-events: none;
}

.tokens {
	height: 80vh;
	margin-top: 5vh;
}
.token-wrapper {
	position: relative;
}

.tokens button {
	margin-left: 6.5em;
	margin-bottom: 4em;
	background-image: linear-gradient(-45deg, #ffd700, #fff589, #ffd700);
	border: none;
	font-size: 16px;
	cursor: pointer;
	border-radius: 8px;
	width: 20vw;
	height: 20vh;
	margin-top: 4em;
	position: relative;
}

.tokens button:active {
	transform: translate(3px, 3px);
}

.top-banner,
.bottom-banner {
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
	text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
		background-color: #99001F;
		color: white;
		padding-top: 7px;
		padding-bottom:7px;
		font-size: 16px;
		font-family: 'tokenFont';
		position: absolute;
		z-index: 2;
}

.top-banner {
	width: 7.5vw;
	bottom: 8em;
	left: 6em;
	display: flex;
	justify-content: center;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}

.bottom-banner {
	width: 9.6vw;
	bottom: 1em;
	left: 12.8em;
	padding-left: 8%;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}

.header {
	display: flex;
	justify-content: space-between;	
	align-items: center;
	color: black;
	background-color: transparent; 
}

.home-button {
	display: flex;
	justify-content: center;
	align-items: center;	
	background-color: darkblue;
	font-size: 1rem;
	font-family: 'tokenFont';
	text-decoration: none;
	color: white;
	width: 10vw;
	height: 7vh;
	margin-right: 2em;
	margin-top: 1em;
	border-radius: 8px;
}

.token-logo {
	width: 12vw;
	margin-left: 1em;
	margin-top: 1em;
	z-index: 1; 
}

@keyframes flowDown {
	from {
			background-position: top left;
	}
	to {
			background-position: top -100% left;
	}
}
